---
import Layout from "../layouts/Layout.astro"
---

<Layout title="About Eror">
    <section class="w-full h-screen bg-[url('https://images.freecreatives.com/wp-content/uploads/2016/04/Abstract-Website-Background.jpg')] bg-cover bg-center"
    >
      <div
        class="w-full h-full flex flex-col justify-center items-center backdrop-blur-lg"
      > <div class="text-center"> 
        <h1 class="poppins text-shadow-lg text-4xl text-orange-400 font-extrabold">404</h1> 
        <p class="text-2xl text-gray-600 font-normal text-white">Oops! Halaman yang Anda cari tidak ditemukan.</p> 
        <button
		class="mt-10 rounded-lg text-gray-50 p-1 hover:bg-indigo-900 hover:text-white bg-indigo-700"
	  >
		<a href="./">Buka Ke About</a>
	  </button>
        </div>
        </div>
    </section>
    
</Layout>